<a href="https://colab.research.google.com/github/shreemathigs/Blinkit-Data-Analysis/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1.Basics of Python

**PYTHON SESSION-1**

In [ ]:
print('This is my first code')

This is my first code

Variables and Values

In [ ]:
#Value is a type of data
#Example: Number, String, etc

In [ ]:
10

10

In [ ]:
#Variable
#It is used to store the value temporary
'''
1. Must not start with number or special characters.
2. It can start with _(underscore)
3. Number can be in middle or last of the variable.

In [ ]:
a=10
print(a)

10

In [ ]:
#type 2

_a =90
print(_a)

90

In [ ]:
#type 3

a1=90
print(a1)

90

In [ ]:
#type 4

1a = 90
print(1a)

SyntaxError: invalid decimal literal (ipython-input-329828302.py, line 3)

In [ ]:
#type 5

v1=90
print(v1)

90

In [ ]:
v1 = 80  #value overwriting
print(v1)

80

In [ ]:
a=9
A=8
print(a,A)

9 8

In [ ]:
this_is_my_location = 'Bangalore'
print(this_is_my_location)

Bangalore

# 2.Data Types

1.int -> Numerical DT -> Whole Numbers(0,1,2,3,..)

2.float -> Decimal DT -> decimal position -> (1.9,2.0,3.9)

3.string ->'a',"I am Sri","""multi line passage"""-> letter,word,passage

4.list ->collection of elements [ ]

5.dictionary -> Key and Value pairs -> {name:'Sri',age:10}

6.set -> {1,2,3}-> duplicate

7.tuple -> (1,2,3,4)

8.Boolean -> True or False -> Used in conditions

## Int

In [ ]:
v2 = 90
type(v2)

int

**NOTE**

 If brackets next to = , it considered as Datatype.

 If brackets (), [] near/next to variable, that are called as Functions or index

## Float

In [ ]:
v3=90.0
type(v3)

float

## Numeric Manipulation

In [ ]:
100+20

120

In [ ]:
100+20.4

120.4

In [ ]:
10-90.4

-80.4

In [ ]:
# int / int
9 / 9

1.0

In [ ]:
9 // 9

1

In [ ]:
#Type Conversion
a1 = 89
type(a1)

int

In [ ]:
a1_float = float(a1)
print(a1_float)

89.0

In [ ]:
int(a1_float)

89

In [ ]:
#Round
round(1.475 , 2)

1.48

In [ ]:
#Mul and Square
#Multiply
2*5

10

In [ ]:
#Square
2 ** 4

16

**PYTHON SESSION-2**

## String

In [ ]:
'  '  # letter, words,  Ramesh's pen (not support)

"   " # letter, words,  Ramesh's pen, "" (not supported)


"""     """ # all types of string, even multiple line

'     '

In [ ]:
s1='a'
type(s1)

str

In [ ]:
s2 = ' Ramesh's pen '

SyntaxError: unterminated string literal (detected at line 1) (ipython-input-2991730864.py, line 1)

In [ ]:
s3 = " Ramesh's pen "
type(s3)

str

In [ ]:
s4="""This is the
notebook of
google colaboratory"""
type(s4)

str

## String Manipulation

In [ ]:
# String Addition
s1='Apple'
s2='Orange'

In [ ]:
s1 + s2

'AppleOrange'

In [ ]:
s1+ ' ' +s2

'Apple Orange'

In [ ]:
s1 + "-" + s2

'Apple-Orange'

In [ ]:
#Add with Number

In [ ]:
#'Raja is 9 years old'

s1='Raja is'
age= 9
s2='years old'

s1+ age +s2

TypeError: can only concatenate str (not "int") to str

In [ ]:
# It is not possible so we have to convert it into str

age

9

In [ ]:
str(age)

'9'

In [ ]:
s1 + str(age) + s2

'Raja is9years old'

### Len & Index

In [ ]:
str1='butterypenguin'
type(str1)

str

In [ ]:
len(str1)

14

In [ ]:
"""

b u t t e r y p e n  g  u  i  n
1 2 3 4 5 6 7 8 9 10 11 12 13 14 --> Length
0 1 2 3 4 5 6 7 8 9  10 11 12 13 --> Index (Length-1)

"""

In [ ]:
#Shows of the position
str1[5]

'r'

In [ ]:
str1[10]

'g'

In [ ]:
# 1. SUBSTRING

str1[0:5]

'butte'

In [ ]:
str1[:6]

'butter'

In [ ]:
str1[1:]

'utterypenguin'

In [ ]:
# 2. FIND THE INDEX - Finding of the index number for the value
str1.index('t'). #shows of the first t appeared

2

In [ ]:
str1="butterypenguin"
str2="this is my iphone 16 pro"

In [ ]:
print('Length of str1:',len(str1))
print('Length of str2:',len(str2))

Length of str1: 14
Length of str2: 24

In [ ]:
str3 = str1 + " " + str2
str3

'butterypenguin this is my iphone 16 pro'

In [ ]:
# 3. STRING SPLIT
str2="this is my iphone 16 pro"

In [ ]:
str2.split()

['this', 'is', 'my', 'iphone', '16', 'pro']

In [ ]:
split_str = str2.split()

In [ ]:
type(split_str)

list

In [ ]:
str2.split('pro')

['this is my iphone 16 ', '']

## List

List is a collection of elements.

Mutable (Add or Remove data from a list)

In [ ]:
l1 = [1,2,3,4,5]

In [ ]:
l4=["Apple", "Orange", "Mango", "Strawberry"]

In [ ]:
l3 = [1,3,10 , "Apple" , [2,4,5],"Orange"]

In [ ]:
# 1. LENGTH

In [ ]:
len(l1)

5

In [ ]:
len(l2)

4

In [ ]:
len(l3)

6

In [ ]:
# 2. INDEX

In [ ]:
l1[4]

5

In [ ]:
l4[0:2]

['Apple', 'Orange']

In [ ]:
l3[0:3]

[1, 3, 10]

In [ ]:
l3[4]

[2, 4, 5]

In [ ]:
# 3. Take a list of list element
l3 = [1,3,10 , "Apple" , [2,4,5],"Orange"]
l3[4][1] #Choosing of the index position of the whole list [] and choose the no we want from the inside list

4

APPEND: Adds of single element into a list

EXTEND: Adds of multiple elements in the form of list, tuple

In [ ]:
# 4. Add element to a list [APPEND]
l1 = [1,2,3,4,5]

In [ ]:
l1.append(20)

In [ ]:
l1

[1, 2, 3, 4, 5, 20]

In [ ]:
l1.append('Baby')

In [ ]:
l1

[1, 2, 3, 4, 5, 20, 'Baby']

In [ ]:
# 5. Add multiple elements [EXTEND]

l4

['Apple', 'Orange', 'Mango', 'Strawberry']

In [ ]:
new = ['Lemon','Pineapple','Guava']

In [ ]:
# Syntax: list.extend(list)

l4.extend(new)

In [ ]:
l4

['Apple', 'Orange', 'Mango', 'Strawberry', 'Lemon', 'Pineapple', 'Guava']

In [ ]:
l4.append(new)

In [ ]:
l4

['Apple',
 'Orange',
 'Mango',
 'Strawberry',
 'Lemon',
 'Pineapple',
 'Guava',
 ['Lemon', 'Pineapple', 'Guava']]

In [ ]:
l4.extend([12,3])

In [ ]:
l4

['Apple',
 'Orange',
 'Mango',
 'Strawberry',
 'Lemon',
 'Pineapple',
 'Guava',
 ['Lemon', 'Pineapple', 'Guava'],
 12,
 3]

In [ ]:
# 6. Adding of  elements in specific location

# insert

In [ ]:
l3

[1, 3, 10, 'Apple', [2, 4, 5], 'Orange']

In [ ]:
l3.append('Car')

In [ ]:
l3

[1, 3, 10, 'Apple', [2, 4, 5], 'Orange', 'Car']

In [ ]:
l3.insert(2,'Butterfly')
l3.insert(3,'Tangerine')
l3.insert(6,10)

In [ ]:
l3

[1,
 3,
 'Butterfly',
 'Tangerine',
 'Butterfly',
 10,
 10,
 'Apple',
 [2, 4, 5],
 'Orange',
 'Car']

In [ ]:
# 7. Removing / Deleting of element from a list

# pop, del, remove
# remove
#Syntax: list.remove(element)

In [ ]:
l3

[1,
 3,
 'Butterfly',
 'Tangerine',
 'Butterfly',
 10,
 10,
 'Apple',
 [2, 4, 5],
 'Orange',
 'Car']

In [ ]:
#Remove
l3.remove('Apple')

In [ ]:
l3

[1,
 3,
 'Butterfly',
 'Tangerine',
 'Butterfly',
 10,
 10,
 [2, 4, 5],
 'Orange',
 'Car']

In [ ]:
#POP - Removes element from the last position
l3.pop()

'Car'

In [ ]:
l3

[1, 3, 'Butterfly', 'Tangerine', 'Butterfly', 10, 10, [2, 4, 5], 'Orange']

In [ ]:
#POP - Pops based on index position
l3.pop(4)

'Butterfly'

In [ ]:
l3

[1, 3, 'Butterfly', 'Tangerine', 10, 10, [2, 4, 5], 'Orange']

In [ ]:
#DELETE
# Syntax: del list[index]

del l3[4]

In [ ]:
l3

[1, 3, 'Butterfly', 'Tangerine', [2, 4, 5], 'Orange']

In [ ]:
l5 = ['orange','mango',1,4,3,'Babydragon']

In [ ]:
#pop() - Deleting of whole list
l5.pop()
l5.pop()
#The usage of pop() is deleting of the element from the last

4

In [ ]:
l5=[3,6,0,79,10]
l5

[3, 6, 0, 79, 10]

In [ ]:
#Sort
l5.sort()
l5

[0, 3, 6, 10, 79]

In [ ]:
#Reverse
l5.reverse()
l5

[79, 10, 6, 3, 0]

**PYTHON SESSION-3**

## Dictionary

Dictionary contains of key and value pairs.

key: value

In [ ]:
d = {

    "name": "Peter",
    "age": 23,
    "height": 190,
    "weight": 72
}

In [ ]:
type(d)

dict

In [ ]:
# 1. Accessing of elements from dictionary
d['age']

23

In [ ]:
d.get('age')

23

In [ ]:
print(d['age'])

23

In [ ]:
d['weight']

72

In [ ]:
# 2. Replace and adds values in dictionary
d

{'name': 'Peter', 'age': 23, 'height': 190, 'weight': 72}

In [ ]:
#Changing of the weight
d['weight'] = 80

In [ ]:
d

{'name': 'Peter', 'age': 23, 'height': 190, 'weight': 80}

In [ ]:
#Adding of city
d['city'] = 'Chennai'
d

{'name': 'Peter', 'age': 23, 'height': 190, 'weight': 80, 'city': 'Chennai'}

In [ ]:
# 3. Delete key and value from dict


d

{'name': 'Peter', 'height': 190, 'weight': 80, 'city': 'Chennai'}

In [ ]:
d['age'] = 23

In [ ]:
d

{'name': 'Peter', 'height': 190, 'weight': 80, 'city': 'Chennai', 'age': 23}

In [ ]:
#DEL
del d['weight']

In [ ]:
d

{'name': 'Peter', 'height': 190, 'city': 'Chennai', 'age': 23}

In [ ]:
#POP
d.pop("height")

190

In [ ]:
d

{'name': 'Peter', 'city': 'Chennai', 'age': 23}

In [ ]:
#Clearing entirely
d.clear()

In [ ]:
d

{}

In [ ]:
d = {

    "name": "Peter",
    "age": 23,
    "height": 190,
    "weight": 72,
    "city": "Chennai"
}

In [ ]:
#Getting of information about the Dictionary
#Get only of Keys

d.keys()

dict_keys(['name', 'age', 'height', 'weight', 'city'])

In [ ]:
#Get only of Values

d.values()

dict_values(['Peter', 23, 190, 72, 'Chennai'])

In [ ]:
#Get of pairs (Key,Value)

d.items()

dict_items([('name', 'Peter'), ('age', 23), ('height', 190), ('weight', 72), ('city', 'Chennai')])

In [ ]:
#Dictionary
d

{'name': 'Peter', 'age': 23, 'height': 190, 'weight': 72, 'city': 'Chennai'}

In [ ]:
# 1. Adding of  multiple key value pairs values

d.update({'State':'Tamilnadu' , 'Email': 'petereng@gmail.com'})
d

{'name': 'Peter',
 'age': 23,
 'height': 190,
 'weight': 72,
 'city': 'Chennai',
 'State': 'Tamilnadu',
 'Email': 'petereng@gmail.com'}

In [ ]:
d['name']=['Mariya','Praveen', 'Mary']
d

{'name': ['Mariya', 'Praveen', 'Mary'],
 'age': 23,
 'height': 190,
 'weight': 72,
 'city': 'Chennai',
 'State': 'Tamilnadu',
 'Email': 'petereng@gmail.com'}

## Tuple

Tuple ()

Tuple is a collection of elements

Immutable (Can't changable)

In [ ]:
tup1 = (1,0.5,3,5)
type(tup1)

tuple

In [ ]:
# 1. Index, Slicing

tup1[2]

3

In [ ]:
tup1[0:3]

(1, 0.5, 3)

In [ ]:
# 2.Declaring of variable

a=10
b=20
c=30
d=40

In [ ]:
a ,b,c,d = 10,20,30,40

In [ ]:
a

10

In [ ]:
b

20

In [ ]:
c

30

In [ ]:
d

40

In [ ]:
a=(1,2,3,4)
b=(4,6,7,8)

In [ ]:
a+b

(1, 2, 3, 4, 4, 6, 7, 8)

In [ ]:
# 3. Assignement - Unpack tuple
#It contains of many values but don't have keys

a,b = (4,6,7,8)

ValueError: too many values to unpack (expected 2)

In [ ]:
#To correct the above code
# Hence * --> Represents of all

# a=4
# b=6,7,8
a,*b = (4,6,7,8)

In [ ]:
a

4

In [ ]:
b

[6, 7, 8]

In [ ]:
# 4. Counter - Counting of the elements

t = (11,22,30,11,23,25,22,23,25)
t

(11, 22, 30, 11, 23, 25, 22, 23, 25)

In [ ]:
t.count(23)

2

In [ ]:
t.count(11)

2

## Set

Set - {}

Set is a collection of elements

It ordered the elements as ranging from ascending to descending.

It removes of the duplicates

In [ ]:
s1 = set([11,22,30,11,23,25,22,23,25])
s1

{11, 22, 23, 25, 30}

In [ ]:
type(s1)

set

In [ ]:
s2 = {11, 66, 99, 44, 55}
s2

{11, 44, 55, 66, 99}

In [ ]:
# 1. Finding of common values
s1 & s2

{11}

In [ ]:
# 2. Finding of non-common values
s1 ^ s2

{22, 23, 25, 30, 44, 55, 66, 99}

## Bool

In [ ]:
True

True

In [ ]:
a=True
type(a)

bool

In [ ]:
type(10>40)

bool

In [ ]:
100>30

True

In [ ]:
1>30

False

In [ ]:
10==10

True

# 3.Loops

1. Iterative Loop

    - Automatic
    - Loop will be happened until the value becomes empty
    - for Loop

2. Conditional Loop
    - Not Automatic
    - loop will be happened based on condition
    - While Loop

### Iterative Loop

In [ ]:
#Syntax:

for <loop variable> in <iterative variable / value> :
  <code>
  <code>

In [ ]:
for i in [10,20,30,40,50]:
  print(i)

10
20
30
40
50

In [ ]:
for i in [10,20,30,40,50]:
  print(i//10)

1
2
3
4
5

In [ ]:
#We can't iterate a single int, float, if the int,float in the form of list it can iterate
for i in 20:
  print(i)

TypeError: 'int' object is not iterable

In [ ]:
#It can also iterate a String
str1='Software'

In [ ]:
#To get only one iteration, so that we have used BREAK
for i in str1:
  print(i.lower(),i.upper())
  break

s S

In [ ]:
for i in str1:
  print(i.lower(),i.upper())

s S
o O
f F
t T
w W
a A
r R
e E

In [ ]:
#Example: Usage of loop via Set
s7 = {2,7,1,9,3}

In [ ]:
for i in s7:
  print(i)

1
2
3
7
9

In [ ]:
#Range - Used for sequences of numbers

for i in range(13,20):
  print(i)

13
14
15
16
17
18
19

In [ ]:
#Iterating in reverse order(Descending order)

for i in range(20,11,-1):
  print(i)

20
19
18
17
16
15
14
13
12

##### List Comprehension

In [ ]:
#List Comprehension
   # Loop in one line
   # For loop inside list

In [ ]:
a=[1,2,3,4,5]

In [ ]:
#List Comprehension form
# Output - Left side
# Input - Right side
 [ i*2 for i in a]

[2, 4, 6, 8, 10]

In [ ]:
#To get the output in the form of List[]
out=[]
for i in a:
  out.append(i*2)

In [ ]:
out

[2, 4, 6, 8, 10]

#### Iterate Multiple list in a single loop

In [ ]:
#Iter Multiple list in a single loop
#Zip()
   # -Combines elements of two.
   # -Should be in same length

val1=[1,2,3,4,5]
val2=[2,4,6,8,10]

In [ ]:
for i in zip(val1,val2):
  print(i)

(1, 2)
(2, 4)
(3, 6)
(4, 8)
(5, 10)

In [ ]:
for i in zip(val1,val2):
  print(i[0] , i[1])

1 2
2 4
3 6
4 8
5 10

In [ ]:
#By providing of two different variables as i and j
for i,j in zip(val1,val2):
  print(i,j)

1 2
2 4
3 6
4 8
5 10

## While Loop

In [ ]:
#While Loop
  #Everything should be manual
  #Assign the condition and also stop the iteration

#Syntax:

#Intialization of Variable

while <condition>:
  <code>
  iteration

In [ ]:
l1 = [10,11,12,13,14]

In [ ]:
#Using While loop
init = 0  #Loop initi

index = len(l1) -1 #Index find
while index >= init: #Set Condition

  print(l1[init]) #Print
  init= init+1 #Iteration

10
11
12
13
14

In [ ]:
#Using For Loop
for i in l1:
  print(i)

10
11
12
13
14

In [ ]:
str1='password'

In [ ]:
count = 0 #Loop init

index = len(str1) - 1 # Index Find

while count<=index: #Set condition
  print(str1[count]) #print
  count=count+1 #count += 1

p
a
s
s
w
o
r
d

**PYTHON SESSION-4**

# 4.Conditional Statements

In [ ]:
if --> Standalone condition

elif --> Dependent on if

else --> Dependent on if

In [ ]:
#Syntax

if <condition / conditions>:
    <Operation>
elif <condition / conditions>:
    <Operation>
else:
    <operation>

## If statement

In [ ]:
# age>= 18, Allow for take Lic

age= int(input('Enter your age:'))
if ( age>=18):
  print('Allowed')

Enter your age:19
Allowed

## If Else Statement

In [ ]:
age= int(input('Enter your age:'))
if ( age>=18):
  print('Allowed')
else:
  print('Not Allowed')

Enter your age:16
Not Allowed

## Elif Statement

In [ ]:
#Adding 17 as condition

age= int(input('Enter your age:'))
if ( age>=18):
  print('Allowed')
elif (age==17):
  print('Waiting List')
else:
  print('Not Allowed')

Enter your age:17
Waiting List

## Nested if Statement

In [ ]:
#Nested

age= int(input('Enter your age:'))
test = input('Test Status(Pass/Fail):')

if ( age>=18):
  print('Allowed')
  if test == 'pass' or 'Pass':
    print('Grant License')
elif (age==17):
  print('Waiting List')
else:
  print('Not Allowed')

Enter your age:20
Test Status(Pass/Fail):pass
Allowed
Grant License

In [ ]:
#Loan Process

# sal > 5000
# cibil > 700
# loan_amount < 10000
# Dispose Loan


sal=int(input('Enter Sal:'))
cibil=int(input('Enter cibil:'))
loan=int(input('Enter loan amount:'))

if sal >5000:
  print('Salary Check Passed !!')

  if cibil > 700:
      print('Cibil Check Passed !!')

      if loan <10000:
          print('Loan Granted !!')
      else:
          print('Limit Exceeded !!')

  else:
      print('Cibil Check Failed !!')

else:
  print('Salary Check Failed !!')

Enter Sal:6000
Enter cibil:800
Enter loan amount:9000
Salary Check Passed !!
Cibil Check Passed !!
Loan Granted !!

In [ ]:
#Loan Process. - Example: Failed Case

# sal > 5000
# cibil > 700
# loan_amount < 10000
# Dispose Loan


sal=int(input('Enter Sal:'))
cibil=int(input('Enter cibil:'))
loan=int(input('Enter loan amount:'))

if sal >5000:
  print('Salary Check Passed !!')

  if cibil > 700:
      print('Cibil Check Passed !!')

      if loan <10000:
          print('Loan Granted !!')
      else:
          print('Limit Exceeded !!')

  else:
      print('Cibil Check Failed !!')

else:
  print('Salary Check Failed !!')

Enter Sal:3000
Enter cibil:700
Enter loan amount:15000
Salary Check Failed !!

## Condition using For loop

In [ ]:
#for loop + condition

l1 = [1,2,3,4,5,6,7,8]

In [ ]:
for i in l1:
  if i==5:
    break
  else:
    print(i)

1
2
3
4

In [ ]:
for i in l1:
  print(i)
  if i == 5:
    break

1
2
3
4
5

In [ ]:
#Using of List Comprehension

[i for i in l1 if i<=5]

[1, 2, 3, 4, 5]

## Multiple Conditions Handling

In [ ]:
#Multiple conditions

#AND
#OR


#AND--
<condition> and <conditon>

T , T --> True
T , F --> False
F , T --> False
F , F --> False

#OR--
<condition> or <conditon>

T , T --> True
T , F --> True
F , T --> True
F , F --> False

In [ ]:
#Checking of age between 30 to 40 --- AND

age = int(input('Enter age:'))

if (age >= 30) and (age <= 40):
  print('Age Granted')
else:
  print('Out of range')

Enter age:30
Age Granted

In [ ]:
# Using of OR
age = int(input('Enter age:'))

if (age == 30) or (age == 40):
  print('Age Granted')
else:
  print('Not Allowed')

Enter age:40
Age Granted

## IN

In [ ]:
3 in [2,3,4,5,6]

True

In [ ]:
# Using IN
age = 30

if age in (30,40):
  print('Granted')
else:
  print('Not Allowed')

Granted

In [ ]:
# Using NOT IN

age = 20

if age not in (30,40):
  print('Granted')
else:
  print('Not Allowed')

Granted

# 5.Functions

In [ ]:
1. Pre Defined Function
   - Already available in python. -readymade
   - type() , print() , len(), etc..

         1. Function With Argument -> function(arg1,arg2) -> type(20)
         2. Function without Argument -> function() -> pop()

2. User Defined Function
   - Not exists Already
   - User have to write their own function -manual

         1. Function With Argument
         2. Function without Argument

## Function Without Argument

-It can be used for automating of a repeatative task.

-Can be called by using of the function name in anywhere else

In [ ]:
#Syntax

def <function name>():
  <code here>
  <code here>
  <code here>
  <code here>
  return value / values

In [ ]:
#Static
def addition():
  a =400
  b=300
  c=a+b
  return c

In [ ]:
addition()

700

In [ ]:
# Storing of addition() in a variable
out = addition()

In [ ]:
out

700

In [ ]:
# Performing of two condtions in a single function
def multi_addition():
  a = 100
  b=230
  c=a*b
  d=a-b
  return c,d

In [ ]:
multi_addition()

(23000, -130)

In [ ]:
# Alloting of separate variable name for c and d
mul, add = multi_addition()

In [ ]:
mul

23000

In [ ]:
add

-130

## Function With Arguments

In [ ]:
#Dynamic - We can give any value and find the output
def multi_addition(val1, val2):
  a = val1
  b = val2
  c = a*b
  d = a+b
  return c,d

In [ ]:
multi_addition(20,30)

(600, 50)

In [ ]:
multi_addition(val1=500 , val2=600)

(300000, 1100)

In [ ]:
# Pass list as arguement
# Return the index of a value 6


def find_indexof6(in_list):
  return find_indexof6(in_list)

In [ ]:
find_indexof6([6,1,2,3])

RecursionError: maximum recursion depth exceeded

In [ ]:
#Controlling of Error
 Try
 Except

In [ ]:
#Control of Error
def find_indexof6(in_list):
  try:
    return in_list(6)
  except:
    return '6 is not in list'

In [ ]:
try:
  print(1/0)
except:
  print('Error')
  pass # It simply pass the error instead of showingup

Error

In [ ]:
find_indexof6([1,2,3])

NameError: name 'find_indexof6' is not defined

## Default

In [ ]:
def get_name(roll_no):
  if roll_no <=5:
    name = ['raja','mohan','mary','manoj','santho']
    req_name = name[roll_no -1]
    return req_name
  else:
    return 'Wrong Rollno'

In [ ]:
get_name(3)

'mary'

## Math Functions

In [ ]:
a =[1,2,3,4,5,6]

In [ ]:
sum(a)

21

In [ ]:
min(a)

1

In [ ]:
max(a)

6

In [ ]:
round(10.3469,2)

10.35

In [ ]:
abs(-9)

9

In [ ]:
#Mod - Returns of the remainder
5%2

1

In [ ]:
#Floor Division - Returns of the quotient value
5//2

2